.CommentBox {
    color: var(--text);
    padding: 5px 10px 5px 20px;
    border: 1px solid var(--details);
    border-radius: 5px;
    margin-top: 1rem;
    background-color: var(--details);
}

.OwnerName {
    color: var(--text);
    margin-right: 6px;
}

.Date {
    color: var(--text);
}
