.Form {
    padding-left: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-color: var(--details);
}

.Form:focus {
    box-shadow: none;
    border: 2px solid var(--details);
  }