.Input {
    background-color: var(--white);
    border: 1px solid var(--red);
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    padding: 15px;
    box-shadow: 1px 1px 3px var(--red);
}

.Input::placeholder {
    color: var(--black);
}

.Input:focus {
    box-shadow: 1px 1px 3px var(--black);
    border: 1px solid var(--black);
    background-color: var(--white);
}

.Link {
    display: block;
}

.Link span {
    color: var(--red);
}

.Alert {
    padding: 0;
    background-color: var(--white);
    color: var(--black);
    font-weight: bold;
    border: none;
    text-decoration: underline;
}
