.NavBar {
    background-color: #FFD700; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 100px;
    padding: 15px 0;
}

.NavLink {
    color: #333333;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.NavLink:hover {
    color: #FFD700;
}

.Active i {
    transform: rotate(-10deg) scale(1.1);
    color: var(--main);
}

.LogoContainer {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.Logo {
    max-height: 100%;
    width: auto;
}


.navbar-toggler-icon {
    background-color: #333333;
}

.navbar-nav .nav-link {
    color: #333333 !important;
}

.navbar-nav .nav-link:hover {
    color: #FFD700 !important;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    .NavBar {
        min-height: 50px;
    }

    .Logo {
        max-height: 100px;
    }

    .LogoContainer {
        margin-right: auto;
    }

    .navbar-toggler {
        order: -1;
        margin-right: 10px;
    }
}

/* Media Query for Larger Screens */
@media (min-width: 768px) {
    .Logo {
        max-height: 150px;
    }
}
