.NavBar {
    box-shadow: 1px 1px 5px var(--red);
    min-height: 100px;
}

.NavLink {
    padding: 5px;
}

.Active i {
    transform: rotate(-10deg) scale(1.1);
    color: var(--red);
}

.LogoContainer {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.Logo {
    max-height: 100%;
    width: auto;
}


@media (max-width: 767px) {
    .NavBar {
        min-height: 50px;
    }

    .Logo {
        max-height: 100px;
    }

    .LogoContainer {
        margin-right: auto;
    }

    .navbar-toggler {
        order: -1;
        margin-right: 10px;
    }
}


@media (min-width: 768px) {
    .Logo {
        max-height: 150px;
    }
}
