.SearchBar input {
    border-radius: 3px;
    border-color: var(--text);
    padding-left: 40px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px var(--text);
    background-color: var(--details);
}

.SearchBar input:focus {
    box-shadow: none;
    border: 2px solid var(--text);
}

.SearchBar input:focus::placeholder {
    color: var(--text);
}

.SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 10px;
  }

.SearchIcon:hover {
    color: var(--main);
}

.Badge {
    background-color: var(--main);
    color: var(--details);
    margin: 0 0 10px 5px;
}

.Badge:hover {
    cursor: pointer;
}
