.ProfileImage {
    object-fit: cover;
    height: 120px;
    width: 120px;
    margin: 4px;
  }

  .button {
    border-radius: 5px;
    background-color: var(--main);
    color: var(--details);
    box-shadow: 1px 1px 5px var(--details);
    border: none !important;
  }

  .button:hover, .button:focus, .button:active {
    background-color: var(--main) !important;
    color: white !important;
    box-shadow: 1px 1px 3px var(--text) !important;
    border-color: var(--text);
}