.button {
    border-radius: 5px;
    border-color: var(--details);
    background-color: var(--white);
    color: var(--text);
    box-shadow: 1px 1px 5px var(--details);
  }

  .button:hover, .button:focus, .button:active {
    background-color: var(--details) !important;
    color: var(--white) !important;
    box-shadow: 1px 1px 3px var(--text) !important;
    border-color: var(--text);
}