:root {
    --black: #000000;
    --white: #e7e7e7;
    --red: #800020;
  }

.App {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    color: var(--black);
    background-color: var(--white);
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--black) !important;
}

a:hover i {
    color: var(--red);
    transition: color ease-in-out 0.3s;
      transform: rotate(-10deg) scale(1.1);
  }

i {
    color: var(--black);
    font-size: 1.5rem;
    padding: 5px;
}