:root {
    --text: #333333;
    --main: #008080;
    --details: #FFD700;
  }

.App {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    color: var(--text);
    background-color: var(--main);
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

.Body {
    padding-top: 300px;
}

.Content {
    background-color: var(--details);
    color: var(--text);
    padding: 10px;
    border-radius: 3px;
    border: 1px solid var(--text);
    box-shadow: 1px 1px 5px var(--text);
}

a {
    color: var(--text) !important;
}

a:hover i {
    color: var(--main);
    transition: color ease-in-out 0.3s;
    transform: rotate(-10deg) scale(1.1);
  }

i {
    color: var(--text);
    font-size: 1.5rem;
    padding: 5px;
}

i:hover {
    color: var(--main);
    transition: color ease-in-out 0.3s;
    transform: rotate(-10deg) scale(1.1);
}

.button {
    background-color: var(--main);
    border-color: var(--details);
    box-shadow: 1px 1px 3px var(--details);
    color: var(--details);
}

.button:hover, .button:focus {
    background-color: var(--main) !important;
    color: white !important;
    box-shadow: 1px 1px 3px var(--text) !important;
    border-color: var(--text);
}

.Input {
    background-color: var(--main);
    border: 1px solid var(--details);
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
    box-shadow: 1px 1px 3px var(--details);
    color: white;
}

.Input::placeholder {
    color: var(--details);
}

.Input:focus {
    box-shadow: 1px 1px 3px var(--text);
    border: 1px solid var(--text);
    background-color: var(--main);
    color: white;
}

.Alert {
    padding: 0;
    background-color: var(--main);
    color: var(--text);
    font-weight: bold;
    border: none;
    text-decoration: underline;
}