:root {
  --black: #000000;
  --white: #e7e7e7;
  --red: #800020;
}

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
